body{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input-div{
  display: flex;
  gap: 15px;
}

.tasks-div > h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task div{
  flex: 1;
}

.task button{
  margin-left: 20px;
}

.task-comp{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.done{
  text-decoration: line-through;
}